<%= simple_form_for [@recipe, @ingredient], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.collection_select :recipe_id, Recipe.all, :id, :name %>
  <%= f.input :name %>
  <%= f.input :quantity %>
  <%= f.input :measurement %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                recipes_path, :class => 'btn' %>
  </div>
<% end %>
