<%- model_class = Ingredient -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:recipe_id) %></th>
      <th><%= model_class.human_attribute_name(:measurement) %></th>
      <th><%= model_class.human_attribute_name(:quantity) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= link_to ingredient.id, recipe_ingredients_path(ingredient) %></td>
        <td><%= ingredient.name %></td>
        <td><%= ingredient.recipe_id %></td>
        <td><%= ingredient.quantity %></td>
        <td><%= ingredient.measurement %></td>
        <td><%=l ingredient.created_at %></td>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_recipe_ingredient_path,
            :class => 'btn btn-primary' %>
